.header {
  background-color: #dc396f;
  color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.headerContainer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
}

.menu a {
  margin-left: 20px;
  padding: 10px 15px;
  color: #ffffff;
  background-color: #24282f;
  border-radius: 10px;
  font-weight: 500;
}

.headerProfile a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}